body {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    padding: 5px;
    width: 85%;
    margin: 0 auto;
}

.conteudo {
    display: flexbox;
}

.perfil {
    height: 30vh;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 1;
    align-items: center;
    gap: 15px;
}

.perfil img {
    grid-column: 1;
    display: block;
    justify-self: center;
    width: fit-content;
}

.descricao {
    display: block;
    justify-self: center;
    grid-column: 2;
}

.habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.box-habilidade {
    height: 20vh;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.box-habilidade img{
    height: 14vh;
    width: 14vh;
    padding: 0px 5px;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.box-projeto {
    width: 25vw;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.box-projeto img{
    height: 25vh;
    max-width: 25vw;
}

footer {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1;
    margin: 15px 100px;
    padding: 10px;
}

.contato {
    justify-content: center;
    display: flex;
    gap: 15px;
}